<%= form_with(model: @order) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-8">
      <div class="row justify-content-between">
        <div class="col-auto">
        <h3><%= @product.name %></h3>
        <%= image_tag(@product.photo, class:"card-img-top")%>
        </div>
        <div class="col-auto">
        </div>
      </div>
    </div>
    <div class="col-4 jumbotron">
      <h4>Order checkout</h4>
       <span class="badge bg-danger" style="width: 8rem"><%=@product.article %></span>
      <div class="row justify-content-between">
        <div class="col-auto">Price</div>
        <div class="col-auto">
          <%= number_to_currency(@product.price, unit:"UAH", separator: ",", format: "%n%u" ) %>
        </div>
      </div>
        <div class="row mt-2 justify-content-between">
          <div class="col-auto">Delivery</div><div class="col-auto"><strong>free</strong></div>
        </div>
        <hr>
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">Total:</div>
          <div class="col-auto">
            <h1 class="h4" id="value">
             <%= number_to_currency(@product.price * params[:quantity].to_i, unit:"UAH", separator: ",", format: "%n%u")%>
            </h1>
          </div>
        </div>
      <hr>
       <div class="field mb-2">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, value: nil, min: 1, max:params[:quantity].to_i,required: true, class: "form-control" %>
    </div>
      <div class="actions">
      
        <%= form.submit( {:class => "btn btn-danger",id: "button"})%>
        
      </div>
        <div class="field">
          <%= form.hidden_field :item, value: @product.id, class: "form-control"%>
        </div>
      </div>
    </div>

   



   

<% end %>
<script>
    var input = document.getElementById("order_quantity");
    input.addEventListener('keyup', function (){
        $('#value').empty();
        $('#value').append((input.value*<%= @product.price %>).toFixed(2), ' UAH');
    })
</script> 