
<div class="modal modal-centered" id="addProduct" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product is added to cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4><%= product.name %></h4>
        </div>
        <div class="row">
          <div class="col"><%= image_tag(product.photo, class:"img-fluid") %></div>
          <div class="col">
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <%cart_item = current_user.carts.find(product.id) %>
              <%= link_to '-', quantity_path(argument: '-', id: cart_item.id), remote: true, type: "button",  class: "btn btn-btn-sm btn-danger" %>
              <div id="quantity_id_<%= cart_item.id %>" class="alert alert-secondary" role="alert">
                <%= cart_item.quantity %>
              </div>
              <%= link_to '+', quantity_path(argument: '+', id: cart_item.id), remote: true, type: "button",  class: "btn btn-sm btn-success" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to 'You cart', '/carts', class: "btn btn-danger" %>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Continue shopping</button>
      </div>
    </div>
  </div>
</div>
