
<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto me-auto"><h3><%=@product.name %></h3></div>
    <div class="col-auto "><h5><span class="badge bg-secondary">Article: <%=@product.article %></span></h5></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <%= image_tag(@product.photo, class:"img-fluid") %>
    </div>
    <div class="col-sm">
      <div class="row justify-content-between mt-2 jumbotron ">
        <div class="col-auto align-self-center">
          <h1 class="display-6"><strong><%= number_to_currency(@product.price, unit:"UAH", separator: ",", format: "%n%u" ) %></strong></h1>
        </div>
           <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        <div class="col-auto align-self-center">
          <%= link_to 'Add to cart',
                      add_to_cart_path(item: @product.id),
                      class: 'btn btn-danger btn-lg', id: "cart_button",
                      role: "button", style: "color: white",
                      remote: true,
                      data: { "bs-target": "#addProduct", "bs-toggle": "modal" }%>
          <button type="button" class="btn btn-dark btn-lg">Buy now</button>
        </div>
      </div>
      <div class="row">
        <div class="col">Config: <%=@product.config %></div>
      </div>
      <br>
      <div class="row">
        <div class="col">Manufacturer: <%=@product.factory %></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mx-3">
    <%= @product.about %>
  </div>
   <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-danger">Leave a Review</a>
          </div>
        </div>

</div>