<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $('#product_category_name').autocomplete
      source: $('#product_category_name').data('autocomplete-source')
      $( function() {
          var availableTags = [<%Product.all.each do |product| %>
              "<%= link_to "/" %>",
              "<%=product.name  %>",
              <% end %>
          ];
          $( "#tags" ).autocomplete({
              source: availableTags
          });
      } );
  </script>
</head>

<body class="mb-5">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mx-lg-5 mx-md-3 mx-sm-2 ">
    <%= link_to "Shop", home_path, class:"navbar-brand ms-3" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <input type="search" placeholder="Enter name..." data-behavior="autocomplete">
        </li>
      </ul>
      <%= form_with url: search_categories_path, class: "d-flex", method: :get, local:true do |f|  %>


  <div class="field">
    <%= f.text_field :product_name %>
  </div>
  <%= f.submit "Search", class: "btn btn-outline-success" %>
<%end %>
  </div>
</nav>



<main class="container">

  <div class="row">

  </div>
  <%= yield %>
</main>

</body>

</html>
